<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyLibrary.NET.WinFormsUI.Properties.Settings.MyLibrary_NET_DatabaseConnectionString"
            connectionString="Data Source=NETGUYPC;Initial Catalog=MyLibrary.NET.Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>